#content{
    display: flex;
    width: 100%;
    height: 100%;
}

.logo{
    margin-top: 1rem;
    color: var(--primary-color);
}

ul li{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 1.5rem;
    cursor: pointer;
}

ul{
    margin-top: 6rem;
}

.nav-links{
    width: 20%;
    height: 100vh;
    background-color: var(--secondary-color);
    text-align: center;
    color: #fff;
}

.navigation{
    width: 100%;
    padding: 0.75rem;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

