@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --primary-color: #7289da;
    --secondary-color: #23272a;
    --tertiary-color: #afafaf;
    --quaternary-color: rgba(211, 211, 211, 0.664);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}